<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="serviceBusNamespaces" type="System.Configuration.DictionarySectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <serviceBusNamespaces>
    <add key="CustomConnectionString" value="namespace=namespace1;servicePath=;issuerName=owner;issuerSecret=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX="/>
    <add key="WindowsAzureServiceBusConnectionString" value="endpoint=sb://NAMESPACE.servicebus.windows.net/;sharedSecretIssuer=owner;sharedSecretValue=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX="/>
    <add key="ServiceBusForWindowsServerConnectionString" value="Endpoint=sb://FULLY_QUALIFIED_MACHINE_NAME/NAMESPACE;StsEndpoint=https://FULLY_QUALIFIED_MACHINE_NAME/NAMESPACE;RuntimePort=9354;ManagementPort=9355;WindowsUsername=USERNAME;WindowsDomain=MACHINE_OR_DOMAIN_NAME;WindowsPassword=PASSWORD"/>
  </serviceBusNamespaces>
  <appSettings>
    <add key="debug" value="true"/>
    <add key="saveMessageToFile" value="true"/>
    <add key="savePropertiesToFile" value="true"/>
    <add key="scheme" value="sb"/>
    <add key="message" value="&lt;message&gt;Hi mate, how are you?&lt;/message&gt;"/>
    <add key="file" value="C:\Sample.xml"/>
    <add key="label" value="Service Bus Explorer"/>
    <add key="retryCount" value="10"/>
    <add key="retryTimeout" value="100"/>
    <add key="top" value="10"/>
    <add key="receiveTimeout" value="1"/>
    <add key="sessionTimeout" value="5"/>
    <add key="prefetchCount" value="0"/>
    <add key="messageDeferProvider" value="Microsoft.WindowsAzure.CAT.ServiceBusExplorer.InMemoryMessageDeferProvider,ServiceBusExplorer"/>
    <add key="Microsoft.ServiceBus.X509RevocationMode" value="NoCheck"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="50"/>
    </connectionManagement>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <!--
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy proxyaddress="http://europroxy.europe.corp.microsoft.com:80" bypassonlocal="true" />
    </defaultProxy>
  </system.net>
  -->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
